@font-face {
  font-family: 'Pally-Regular';
  src: url('../fonts/Pally-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'Pally-Medium';
  src: url('../fonts/Pally-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: 'Pally-Bold';
  src: url('../fonts/Pally-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito.woff2') format('woff2');
  font-weight: 400 900;
  font-display: block;
}

@font-face {
  font-family: 'Amatic SC';
  src: url('../fonts/AmaticSC.woff2') format('woff2');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: 'Bruno Han';
  src: url('../fonts/BrunoHan.woff2') format('woff2');
  font-weight: 400;
  font-display: block;
}
